{{- define "main" -}}
{{ if .Params.subscriptions -}}
<div class="col content">
  <a class="button hide-with-sidebar" href="#subscribe">{{ i18n "podcasts_subscribe" }}</a>
  <h4>{{ i18n "podcasts_listen_episodes" }}</h4>
  {{ partial "episode-list" . }}
</div>
<div class="col sidebar coldivider">
  <h4 id="subscribe">{{ i18n "podcasts_subscribe" }}</h4>
  <div class="row">
    <div class="col" style="width: 50%;">
      {{ range .Params.subscriptions -}}
        {{ with index . "spotify" -}}
          <a class="no-hover" href="{{ . }}" target="_blank"><img class="podcasts-subscribe-badge" src="/podcast-badges/spotify-podcast-badge-blk-wht-660x160.svg" style="width: 100%" /></a>
        {{ end -}}
        {{ with index . "apple" -}}
          <a class="no-hover" href="{{ . }}" target="_blank"><img class="podcasts-subscribe-badge" src="/podcast-badges/US_UK_Apple_Podcasts_Listen_Badge_RGB.svg" style="width: 100%" /></a>
        {{ end -}}
        {{ with index . "pocketcasts" -}}
          <a class="no-hover" href="{{ . }}" target="_blank"><img class="podcasts-subscribe-badge" src="/podcast-badges/Badges_pocketcasts_medium_dark.svg" style="width: 100%" /></a>
        {{ end -}}
      {{ end -}}
    </div>
    {{ with .Resources.GetMatch "_cover*" -}}
    <div class="col" style="width: 50%;">
      <figure>
        <img src="{{ .RelPermalink }}" />
      </figure>
    </div>
    {{ end -}}
  </div>
</div>
{{ else -}}
<div class="col">
  <h4>{{ i18n "podcasts_listen_episodes" }}</h4>
  {{ partial "episode-list" . }}
</div>
{{ end -}}
{{ end -}}
