<ul>
{{ $titledivider := " - " -}}
{{ if .Params.subscriptions -}}
  {{ $titledivider = "<br/>" -}}
{{ end -}}
{{ range sort (where .Pages "Params.airDate" "<>" nil) ".Params.airDate" "desc" -}}
    {{ $air := time .Params.airDate -}}
    {{ if (le $air now) -}}
    <li>
        <a target="{{ if .Params.publishURL }}_blank{{ end }}" rel="{{ if .Params.publishURL }}noopener noreferrer{{ end }}" href="{{ if .Params.publishURL }}{{ .Params.publishURL }}{{ else }}{{.RelPermalink}}{{ end }}">{{.Title}}</a> (<time datetime="{{ $air.Format "2006-01-02T15:04:05-07:00" }}">{{.Params.airDate | time.Format ":date_full"}}</time>){{ if .Params.subtitle }}{{ $titledivider | safeHTML }}<i>{{ .Params.subtitle }}</i>{{ end }}
    </li>
    {{ end -}}
{{ end -}}
</ul>