<h4>Diese Episode</h4>
<ul>
  {{ with .Date }}<li>aufgezeichnet am {{ . | time.Format ":date_full" }}</li>{{ end }}
  {{ if .Params.location }}
    {{ $c := "" }}
    {{ if .Params.coordinates }}
      {{ $c = split .Params.coordinates ","}}
      {{ if ne (len $c) 2}}{{ $c = nil }}{{ end }}
    {{ end }}
    <li>in {{ if $c }}<a target="_blank" href="https://www.openstreetmap.org/#map=15/{{ delimit $c "/" }}">{{ end }}{{ .Params.location }}{{ if $c }}</a>{{ end }}</li>
  {{ end }}
  {{ with .Params.airDate }}<li>publiziert am {{ . | time.Format ":date_full" }}</li>{{ end }}
</ul>
